.ads-section__header {
    margin: 20px;
    text-align: center;
}

.control-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-panel__link-action {
    padding: 10px;
    background-color: #6495ed;
    color: #fff;
    cursor: pointer;
}

.control-panel__link-action:hover {
    background-color: #5a84d1;
}